# Semesterarbeit Datenvisualisierung
Aufbereitung und Erarbeitung der nötigen Daten erfolgen in diesem Jupyternotebook. Anhand von diesen Datenquellen, welche ich in Python Pandas Datenframes lade, enstehen unter anderem Plotly-Grafiken. Diese Grafiken nutze ich für:

   - Präsentation innerhalb von dem ``Storytelling-Tool: http://prezi.com``
   - ``Shiny for Python Dashboard`` (kann anhand diesem Notebook selbständig getestet werden)

Mit dieser Grundlage erstelle ich die Semesterarbeit für die Datenvisualisierung. Für den Statistikteil werde ich einen komplett neuen Datensatz (WORLD VALUES SURVEY WAVE 7, 2017-2021) verwenden um die nötigen 4 Verfahren anzuwenden.

# Quellen: Our World in Data (OWID)
https://docs.owid.io/projects/etl/api/#owid-catalog

## Inspiration und Durchsicht möglicher Quellen
* **Datapoints used to train:** https://ourworldindata.org/grapher/artificial-intelligence-number-training-datapoints
----
* **Annual patent applications (not detailed on technology):** https://ourworldindata.org/grapher/annual-patent-applications
* **Annual granted patents related to AI:** https://ourworldindata.org/grapher/artificial-intelligence-granted-patents-by-industry
* **Annual working hours:** https://ourworldindata.org/grapher/annual-working-hours-per-worker
* **Annual articles publ in scientific and tech journals:** https://ourworldindata.org/grapher/scientific-publications-per-million
* **Research and development spending as a share of GDP:** https://ourworldindata.org/grapher/research-spending-gdp
* **Research and development per million people vs. GPD per capita:** https://ourworldindata.org/grapher/researchers-in-rd-per-million-people-vs-gdp-pc
----
* **Population:** https://ourworldindata.org/grapher/population
* **Population with UN projections 2100:** https://ourworldindata.org/grapher/population-with-un-projections
* **Median age:** https://ourworldindata.org/grapher/median-age
* **Female Popl by Age** https://ourworldindata.org/grapher/female-population-by-age-group
* **Male Popl by Age** https://ourworldindata.org/grapher/male-population-by-age-group
* **Popl young, working, elderly** https://ourworldindata.org/grapher/population-young-working-elderly-with-projections
----
* **Fertility rate:** https://ourworldindata.org/grapher/children-per-woman-un
* **Population by age group:** https://ourworldindata.org/grapher/population-by-age-group-with-projections
* **Age dependency breakdown by young and old:** https://ourworldindata.org/grapher/age-dependency-breakdown
----
* **Public health expenditure as a share of GDP:** https://ourworldindata.org/grapher/public-health-expenditure-share-gdp

# Datensatzbildung

**Technonoligsche Indikatoren**
   - https://ourworldindata.org/grapher/artificial-intelligence-granted-patents-by-industry
   - https://ourworldindata.org/grapher/research-spending-gdp
   - https://ourworldindata.org/grapher/artificial-intelligence-number-training-datapoints

**Gesundheitsausgaben**
   - https://ourworldindata.org/grapher/public-health-expenditure-share-gdp

**Demografische Daten**
   - https://ourworldindata.org/grapher/median-age
   - https://ourworldindata.org/grapher/age-dependency-breakdown

In [311]:
from owid.catalog import charts
import pandas as pd

# Technologische Indikatoren
ai_patents_df = charts.get_data('artificial-intelligence-granted-patents-by-industry')
rd_gdp_df = charts.get_data('research-spending-gdp')
ai_training_df = charts.get_data('artificial-intelligence-number-training-datapoints')

# Gesundheitsausgaben
health_df = charts.get_data('public-health-expenditure-share-gdp')

# Demografische Daten
median_age_df = charts.get_data('median-age')
dependency_df = charts.get_data('age-dependency-breakdown')

---

In [312]:
# kurzer Einblick in die Datensätze
ai_patents_df = ai_patents_df[['entities', 'years', 'num_patent_granted__field_life_sciences']]
ai_patents_df

      entities  years  num_patent_granted__field_life_sciences
0    Argentina   2013                                        0
1    Argentina   2017                                        0
2    Argentina   2018                                        1
3    Argentina   2019                                        1
4    Argentina   2020                                        0
..         ...    ...                                      ...
416      World   2019                                     4140
417      World   2020                                     4036
418      World   2021                                     3180
419      World   2022                                     1182
420      World   2023                                      355

[421 rows x 3 columns]

In [313]:
# Entities und Years untersuchen
ai_patents_df['entities'].unique(), ai_patents_df['years'].unique()

(array(['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil', 'Brunei',
        'Bulgaria', 'Canada', 'Chile', 'China', 'Colombia', 'Croatia',
        'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany',
        'Greece', 'Hong Kong', 'Hungary', 'India', 'Indonesia', 'Iran',
        'Ireland', 'Israel', 'Italy', 'Japan', 'Jordan', 'Kenya', 'Latvia',
        'Lithuania', 'Luxembourg', 'Malaysia', 'Mexico', 'Morocco',
        'Netherlands', 'New Zealand', 'Norway', 'Peru', 'Philippines',
        'Poland', 'Portugal', 'Romania', 'Russia', 'Serbia', 'Singapore',
        'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Spain',
        'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Turkey',
        'Ukraine', 'United Kingdom', 'United States', 'Uruguay', 'World'],
       dtype=object),
 array([2013, 2017, 2018, 2019, 2020, 2014, 2015, 2016, 2021, 2022, 2023]))

---

In [314]:
# Bereits mehr Records durch die Unterschiede in Entities und Years
rd_gdp_df

     entities  years  research_spending_gdp
0     Albania   2007                0.08757
1     Albania   2008                0.15412
2     Algeria   2001                0.23028
3     Algeria   2002                0.36640
4     Algeria   2003                0.19623
...       ...    ...                    ...
2531   Zambia   2002                0.00544
2532   Zambia   2003                0.00847
2533   Zambia   2004                0.02223
2534   Zambia   2005                0.02493
2535   Zambia   2008                0.27819

[2536 rows x 3 columns]

In [315]:
# Entities und Years untersuchen (bereits ersichtlich die Unterschiede in Jahren und Entities)
rd_gdp_df['entities'].unique(), rd_gdp_df['years'].unique()

(array(['Albania', 'Algeria', 'American Samoa', 'Angola', 'Argentina',
        'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
        'Belarus', 'Belgium', 'Bermuda', 'Bolivia',
        'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
        'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Canada',
        'Cape Verde', 'Chad', 'Chile', 'China', 'Colombia', 'Congo',
        'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
        'Czechia', 'Democratic Republic of Congo', 'Denmark',
        'East Asia and Pacific (WB)', 'Ecuador', 'Egypt', 'El Salvador',
        'Estonia', 'Eswatini', 'Ethiopia', 'Europe and Central Asia (WB)',
        'European Union (27)', 'Faeroe Islands', 'Finland', 'France',
        'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
        'Greenland', 'Guam', 'Guatemala', 'High-income countries',
        'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
        'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
        'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
        'Kyrgyzstan', 'Laos', 'Latin America and Caribbean (WB)', 'Latvia',
        'Lesotho', 'Lithuania', 'Lower-middle-income countries',
        'Luxembourg', 'Macao', 'Madagascar', 'Malaysia', 'Mali', 'Malta',
        'Mauritania', 'Mauritius', 'Mexico',
        'Middle East and North Africa (WB)', 'Middle-income countries',
        'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
        'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
        'New Zealand', 'Nicaragua', 'Nigeria', 'North America (WB)',
        'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palestine',
        'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
        'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia',
        'Rwanda', 'Saint Lucia', 'Saint Vincent and the Grenadines',
        'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Singapore',
        'Slovakia', 'Slovenia', 'South Africa', 'South Asia (WB)',
        'South Korea', 'Spain', 'Sri Lanka', 'Sub-Saharan Africa (WB)',
        'Sudan', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
        'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
        'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates',
        'United Kingdom', 'United States', 'United States Virgin Islands',
        'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
        'Venezuela', 'Vietnam', 'World', 'Zambia'], dtype=object),
 array([2007, 2008, 2001, 2002, 2003, 2004, 2005, 2017, 2006, 2016, 1996,
        1997, 1998, 1999, 2000, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
        2018, 2019, 2020, 2021, 2022]))

In [316]:
test = rd_gdp_df[rd_gdp_df['years'] == 2019]
test

                           entities  years  research_spending_gdp
36                        Argentina   2019               0.478130
61                          Armenia   2019               0.178540
77                        Australia   2019               1.828920
101                         Austria   2019               3.132470
127                      Azerbaijan   2019               0.200130
...                             ...    ...                    ...
2435  Upper-middle-income countries   2019               1.664090
2458                        Uruguay   2019               0.426670
2480                     Uzbekistan   2019               0.113060
2501                        Vietnam   2019               0.416520
2526                          World   2019               2.300463

[104 rows x 3 columns]

---

In [317]:
# komplett anderer Datensatz (Entities sind keine Länder, sondern ai_systeme, und anstatt Years exisitiert ein Datum usw.). Anzahl der Records: 932
ai_training_df

,entities,dates,training_dataset_size__datapoints,domain
0,(ensemble): AWD-LSTM-DOC (fin) × 5 (WT2),2018-08-30,NaN,Language
1,2-layer-LSTM+Deep-Gradient-Compression,2017-12-05,NaN,Language
2,3D city reconstruction,2009-09-29,NaN,Other
3,4 layer QRNN (h=2500),2018-03-22,NaN,Language
4,6-Act Tether,2021-08-03,NaN,Other
...,...,...,...,...
927,o1-preview,2024-09-12,NaN,Multiple domains
928,top-down frozen classifier,2021-02-09,NaN,Speech
929,wave2vec 2.0 LARGE,2020-10-22,727776000.0,Speech
930,xTrimoPGLM -100B,2023-07-06,NaN,Biology
931,λ-WASP,2007-06-01,792.0,Language

In [318]:
ai_training_df['entities'].unique()

array(['(ensemble): AWD-LSTM-DOC (fin) × 5 (WT2)',
       '2-layer-LSTM+Deep-Gradient-Compression', '3D city reconstruction',
       '4 layer QRNN (h=2500)', '6-Act Tether', '6-layer MLP (MNIST)',
       'A3C FF hs', 'ADALINE', 'ADAM (CIFAR-10)', 'ADAPTIVE NLPM', 'ADM',
       'AFM-on-device', 'AFM-server', 'ALBERT', 'ALBERT-xxlarge', 'ALIGN',
       'ALM 1.0', 'ALVINN', 'AMDIM', 'ANN Eye Tracker', 'AR-LDM',
       'ASE+ACE', 'ATLAS', 'AWD-LSTM',
       'AWD-LSTM + MoS + Partial Shuffled',
       'AWD-LSTM - 3-layer LSTM (tied) + continuous cache pointer (WT2)',
       'AWD-LSTM+WT+Cache+IOG (WT2)',
       'AWD-LSTM-DRILL + dynamic evaluation† (WT2)',
       'AWD-LSTM-MoS + dynamic evaluation (WT2, 2017)',
       'AWD-LSTM-MoS + dynamic evaluation (WT2, 2018)',
       'AWD-LSTM-MoS+PDR + dynamic evaluation (WT2)',
       'AbLang (heavy sequences)', 'AdaBoost.M2 Digit Recognition',
       'AdaRNN', 'Adaptive Input Transformer + RD',
       'Adaptive Inputs + LayerDrop', 'Adaptive Subgrad',
       'Advantage Learning',
       'Adversarial Joint Adaptation Network (ResNet)', 'Agent57',
       'Agile Soccer Robot', 'AlexNet', 'AlexaTM 20B', 'AlphaCode',
       'AlphaFold', 'AlphaFold 2', 'AlphaFold-Multimer', 'AlphaGeometry',
       'AlphaGo Fan', 'AlphaGo Lee', 'AlphaGo Master', 'AlphaGo Zero',
       'AlphaMissense', 'AlphaStar', 'AlphaX-1', 'AlphaZero',
       'AltCLIP_M9', 'Amazon Nova Pro', 'Amazon Titan',
       'AmoebaNet-A (F=190)', 'AmoebaNet-A (F=448)', 'Ankh_large',
       'Aramco Metabrain AI', 'AudioGen', 'AudioLM', 'Aya', 'BART-large',
       'BASIC-L', 'BASIC-L + Lion', 'BEIT-3', 'BERT-Large',
       'BERT-Large-CAS (PTB+WT2+WT103)', 'BERT-RBP', 'BIDAF',
       'BLIP-2 (Q-Former)', 'BLOOM-176B', 'BLOOMZ-176B',
       'BLSTM for handwriting (1)', 'BLSTM for handwriting (2)', 'BLUUMI',
       'BOXES', 'BPE', 'BPL', 'Back-propagation', 'Bankruptcy-NN',
       'Base LM + kNN LM + Continuous Cache', 'BatchNorm',
       'Bayesian automated hyperparameter tuning', 'BellKor 2007',
       'BellKor 2008', 'BellKor 2009', 'BiLSTM for Speech',
       'Bidirectional RNN', 'Big Transfer (BiT-L)',
       'Big Transformer for Back-Translation', 'Big-Little Net',
       'Big-Little Net (speech)', 'BigBiGAN', 'BigChaos 2008',
       'BigChaos OptiBlend', 'BigGAN-deep 512x512', 'BigSSL',
       'Binarized Neural Network (MNIST)', 'BlenderBot 3', 'BloombergGPT',
       'Boosting', 'Boss (DARPA Urban Challenge)', 'ByT5-XXL', 'CHAI-1',
       'CICERO', 'CLIP (ResNet-50)', 'CLIP (ViT L/14@336px)',
       'CNN Best Practices', 'CODEFUSION (Python)', 'CPC v2', 'CPM-Large',
       'CRF-RNN', 'CT-MoS (WT2)', 'CTC-Trained LSTM', 'CTM (CIFAR-10)',
       'CURL', 'CaLM', 'CamemBERT', 'Cancer drug mechanism prediction',
       'CapsNet (MNIST)', 'CapsNet (MultiMNIST)', 'Cascaded LNet-ANet',
       'Ceramic-MLP', 'Char-CNN-BiLSTM', 'Character-enriched word2vec',
       'ChatGLM3-6B', 'Chinchilla', 'Chinese - English translation',
       'Claude', 'Claude 2', 'Claude 2.1', 'Claude 3 Opus',
       'Claude 3 Sonnet', 'Claude 3.5 Sonnet', 'CoAtNet', 'CoCa',
       'CoEdiT-xxl', 'CoRe', 'CodeT5+', 'CodeT5-base', 'CodeT5-large',
       'Codex', 'CogAgent', 'CogVLM-17B', 'CogVideo', 'CogView',
       'Cognitron', 'Cohere Embed', 'Conformer',
       'Conformer + Wav2vec 2.0 + Noisy Student',
       'Constituency-Tree LSTM', 'Context-dependent RNN', 'ContextNet',
       'ContextNet + Noisy Student', 'Contriever', 'Conv-DBN',
       'ConvNet similarity metric', 'ConvS2S (ensemble of 8 models)',
       'Convolutional Pose Machines', 'Cross-Lingual POS Tagger',
       'Cross-lingual alignment', 'Cutout-regularized net', 'DALL-E',
       'DALL·E 2', 'DALL·E 3', 'DANet', 'DARTS', 'DBLSTM', 'DBRX', 'DCN+',
       'DD-PPO', 'DDPM-IP (CelebA)', 'DETR', 'DINOv2', 'DITTO',
       'DLRM-2020', 'DMN', 'DNABERT', 'DOT(S)-RNN', 'DQN', 'DQN-2015',
       'DeBERTa', 'DeBERTaV3large + KEAR', 'DeLighT', 'DeViSE',
       'Decision tree (classification)', 'Decision tree adaline',
       'Deconvolutional Network', 'Decoupled weight decay regularization',
       'Deep Autoencoders', 'Deep Belief Nets', 'Deep Blue',
       'Deep Boltzmann Machines', 'Deep Deterministic Policy Gradients',
       'Deep LSTM video classifier', 'Deep Multitask NLP Network',
       'Deep rectifier networks', 'DeepFace', 'DeepLab', 'DeepLab (2017)',
       'DeepLabV3', 'DeepLabV3+', 'DeepNash', 'DeepNet',
       'DeepSeek-Coder-V2 236B', 'DeepSeek-V3', 'DeepSpeech2 (English)',
       'DeepStack', 'Deeply-recursive ConvNet', 'Deeply-supervised nets',
       'DeiT-B', 'Denoising Autoencoders',
       'Denoising Diffusion Probabilistic Models (LSUN Bedroom)',
       'DenseNet-264', 'DensePhrases', 'Detic', 'DiT-XL/2',
       'DiT-XL/2 + CADS', 'DiT-XL/2 + Discriminator Guidance',
       'Diabetic Retinopathy Detection Net', 'DiffDock',
       'Differentiable neural computer',
       'Diffractive Deep Neural Network', 'Diffusion-GAN',
       'Dimensionality Reduction', 'Diplodocus', 'Discriminator Guidance',
       'DistBelief NNLM', 'DistBelief Speech', 'DistBelief Vision',
       'DistilBERT', 'Distributed representation NN', 'DnCNN',
       'Domain Adaptation', 'Doubao-1.5-pro', 'Doubao-pro', 'DrLIM',
       'Dropout (CIFAR)', 'Dropout (ImageNet)', 'Dropout (MNIST)',
       'Dropout (TIMIT)', 'Dropout-LSTM+Noise(Bernoulli) (WT2)', 'EDSR',
       'EI-REHN-1000D', 'ELECTRA', 'ELMo', 'EMDR', 'ENAS',
       'EN^2AS with performance reward', 'ERNIE 3.0', 'ERNIE 3.0 Titan',
       'ERNIE 3.5', 'ERNIE 4.0', 'ERNIE-Doc (247M)', 'ERNIE-GEN (large)',
       'ERNIE-ViLG', 'ESM1b', 'ESM2-15B', 'ESM3 (98B)', 'ESRGAN',
       'EVA-01', 'EfficientDet', 'EfficientNet-L2', 'EfficientNetV2-XL',
       'EfficientZero', 'Elastic weight consolidation',
       'Empirical evaluation of deep architectures', 'EnCodec',
       'Enhanced Neighborhood-Based Filtering', 'Error Propagation',
       'Eve', 'FAIRSEQ Adaptive Inputs', 'FAST', 'FLAN 137B',
       'Falcon-180B', 'Falcon-40B', 'Fast R-CNN', 'Faster R-CNN',
       'Feedback Transformer', 'Feedforward NN', 'Ferret (13B)',
       'FinGPT-13B', 'Fine-tuned-AWD-LSTM-DOC (fin)', 'Firefly',
       'Fisher Kernel GMM', 'Fisher Vector image classifier',
       'Fisher-Boost', 'FixRes ResNeXt-101 WSL', 'Flamingo',
       'Flan T5-XXL + BLIP-2', 'Flan-PaLM 540B', 'Flan-T5 11B',
       'Florence', 'Fractional Max-Pooling', 'Fragment embedding',
       'FrameNet role labeling',
       'Fraternal dropout + AWD-LSTM 3-layer (WT2)',
       'Fully Convolutional Networks', 'FunSearch', 'Fusion in Encoder',
       'Fuzzy NN', 'GAN-Advancer', 'GANs', 'GBERT-Large', 'GCNN-14',
       'GGNN', 'GL-LWGC-AWD-MoS-LSTM + dynamic evaluation (WT2)', 'GLEE',
       'GLIDE', 'GLM-130B', 'GLM-4 (0520)', 'GLaM', 'GNMT',
       'GNoME for crystal discovery', 'GOAT', 'GPT-1', 'GPT-2 (1.5B)',
       'GPT-3 175B (davinci)', 'GPT-3.5', 'GPT-3.5 Turbo', 'GPT-4',
       'GPT-4 Turbo', 'GPT-4V', 'GPT-4o', 'GPT-4o mini', 'GPT-NeoX-20B',
       'GPU DBNs', 'GPipe (Amoeba)', 'GPipe (Transformer)', 'GRUs', 'GSM',
       'GShard (dense)', 'Galactica', 'Gated HORNN (3rd order)', 'Gato',
       'Gemini 1.0 Pro', 'Gemini 1.0 Ultra', 'Gemini 1.5 Pro',
       'Gemini Nano-1', 'Gemini Nano-2', 'Gen-1', 'Gen-2', 'GenSLM',
       'Generative BST', 'Genetic algorithm', 'German ELECTRA Large',
       'GloVe (32B)', 'GloVe (6B)', 'Go-explore', 'Goat-7B', 'Golem',
       'GoogLeNet / InceptionV1', 'Gopher (280B)',
       'Gradient Boosting Machine', 'Graph-based structural reasoning',
       'GraphCast', 'Greedy layer-wise DNN training', 'Grok-1', 'Grok-2',
       'GroupLens', 'HLBL', 'HMM Word Alignment', 'HOGWILD!', 'HRA',
       'Hanabi 4 player', 'Handwritten Digit Recognition System',
       'Heuristic Reinforcement Learning', 'Hierarchical Cognitron',
       'Hierarchical LM', 'Hiero', 'Histograms of Oriented Gradients',
       'Hopfield Networks (2020)', 'Hopfield network', 'HuBERT',
       'Hunyuan-Large', 'Hybrid H3-2.7B', 'HyenaDNA', 'HyperCLOVA 204B',
       'HyperNEAT', 'IBM Model 4', 'IBM-5', 'IMPALA', 'ISR network',
       'ISS', 'Image generation', 'Image-to-image cGAN', 'ImageBind',
       'Imagen', 'Immediate trihead', 'Inception v3',
       'Inception-ResNet-V2', 'Inceptionv4', 'Incoder-6.7B',
       'Inflated 3D ConvNet', 'Inflection-2', 'Inflection-2.5',
       'Innervator', 'InstructBLIP', 'InstructGPT 1.3B',
       'InstructGPT 175B', 'InstructGPT 6B', 'InternImage', 'InternLM',
       'Internal functionality of visual invariants', 'Invariant CNN',
       'Invariant image recognition', 'Iterative Bootstrapping WSD',
       'JFT', 'JPMAX', 'Jais', 'Jamba 1.5-Large', 'Jurassic-1-Jumbo',
       'KEPLER', 'KN-LM', 'KataGo', 'Kohonen network', 'LDA', 'LDM-1.45B',
       'LEP-AD', 'LISSOM', 'LLaMA-65B', 'LLaVA', 'LLaVA 1.5', 'LMICA',
       'LMS', 'LMSI-Palm', 'LRCN', 'LRSO-GAN', 'LSTM', 'LSTM (2018)',
       'LSTM (Hebbian, Cache, MbPA)', 'LSTM + dynamic eval', 'LSTM LM',
       'LSTM with forget gates', 'LSTM+NeuralCache', 'LSTM-300units',
       'LSTM-Char-Large', 'LTE speaker verification system', 'LTM-1',
       'LUKE', 'LaMDA', 'LaNet-L (CIFAR-10)', 'Large regularized LSTM',
       'LeNet-5', 'Learnability theory of language development',
       'Libratus', 'Linear Decision Functions',
       'Listen, Attend and Spell', 'Llama 2-70B', 'Llama 2-7B',
       'Llama 3-70B', 'Llama 3.1-405B', 'Llama 3.3', 'Llama Guard',
       'Local Binary Patterns for facial recognition', 'LongT5', 'M4-50B',
       'M6-T', 'MADALINE I', 'MCDNN (MNIST)', 'MEB', 'MLN-ASR',
       'MLP baggage detector', 'MM1-30B', 'MMLSTM', 'MS-CNN',
       'MSA Transformer', 'MSRA (C, PReLU)', 'MT-DNN', 'MUSIC perceptron',
       'MV-RNN', 'Make-A-Video', 'Mamba-24M (SC09)', 'Mask R-CNN',
       'Masked Autoencoders ViT-H', 'MatrixFac for Recommenders',
       'Max-Margin Markov Networks',
       'Maximum Entropy Models for machine translation',
       'Maximum compute', 'Maximum data', 'Maximum parameters',
       'Maxout Networks', 'MedBERT', 'Meena', 'MegaScale (Production)',
       'MegaSyn', 'Megatron-BERT', 'Megatron-LM (8.3B)',
       'Megatron-Turing NLG 530B', 'MemoReader',
       'Mesh-TensorFlow Transformer 2.9B (translation)',
       'Mesh-TensorFlow Transformer 4.9B (language)', 'MetNet',
       'Meta Pseudo Labels', 'MetaLM', 'MetaMimic', 'Mid-level Features',
       'Midjourney V1', 'Minerva (540B)', 'Mistral Large',
       'Mistral Large 2', 'Mitosis', 'Mixtral 8x7B',
       'Mixture of linear models', 'MnasNet-A1 + SSDLite', 'MnasNet-A3',
       'Mnemonic Reader', 'MoCo', 'MoE-Multi', 'MobileNet', 'MobileNetV2',
       'Mogrifier (d2, MoS2, MC) + dynamic eval', 'Mogrifier RLSTM (WT2)',
       'Monocular Depth Prediction', 'Motion-Driven 3D Feature Tracking',
       'Movie Gen Video', 'MuZero', 'Multi-cell LSTM',
       'Multi-scale Dilated CNN', 'Multi-task Cascaded CNN',
       'MultiBand Diffusion', 'Multilingual DNN', 'Multiresolution CNN',
       'Multiscale deformable part model', 'MusicGen', 'MusicLM',
       'NAS with base 8 and shared embeddings', 'NAS+ESS (156M)',
       'NASNet-A', 'NASv3 (CIFAR-10)', 'NEAT', 'NLLB', 'NLP from scratch',
       'NMT Transformer 437M', 'NPLM', 'NTM', 'NVLM-D 72B', 'NVLM-H 72B',
       'NVLM-X 72B', 'Named Entity Recognition model', 'Nemotron-3-8B',
       'Nemotron-4 340B', 'Neocognitron', 'NetTalk (dictionary)',
       'NetTalk (transcription)', 'Netflix Recommender System',
       'Network in Network', 'NeuMF (Pinterest)', 'Neural LM',
       'Neuro-Symbolic Concept Learner', 'NeuroChess',
       'Noisy Student (L2)', 'NoisyNet-Dueling', 'Nucleotide Transformer',
       'NÜWA', 'ONE-PEACE', 'OPT-175B', 'OR-WideResNet', 'OmegaPLM',
       'OmniVec', 'Once for All', 'OntoProtein', 'OpenAI Five',
       'OpenAI Five Rerun', 'OpenAI TI7 DOTA 1v1', 'OpenVLA',
       'Optimized Multi-Scale Edge Detection',
       'Optimized Single-layer Net', 'OverFeat',
       'PDP model for serial order', 'PG-SWGAN', 'PLATO-XL', 'PLUG',
       'PNAS-net', 'PNASNet-5', 'PPLX-70B-Online', 'PSPNet', 'PaLI',
       'PaLI-X', 'PaLM (540B)', 'PaLM 2', 'PaLM-E', 'Palmyra X 003',
       'Palmyra X 004', 'PanGu-Σ', 'Pandemonium (morse)', 'Pangu-Weather',
       'Paragraph Vector', 'Part-of-sentence tagging model', 'Parti',
       'Pattern recognition and reading by machine', 'PeptideBERT',
       'Perceiver IO (optical flow)', 'Perceptron (1960)',
       'Perceptron Mark I', 'Perceptron for Large Margin Classification',
       'PermuteFormer', 'Phenaki', 'Photo-Geometric Autoencoder',
       'Phrase-based translation', 'PhraseCond', 'Piecewise linear model',
       'Pixtral Large', 'Pluribus', 'PoE MNIST', 'PointNet', 'PointNet++',
       'Pointer Sentinel-LSTM (medium)', 'PolyCoder', 'PolyNet',
       'Population-based DRL', 'Pragmatic Theory solution (Netflix 2009)',
       'PreTrans-3L-250H', 'Predictive Coding NN',
       'Print Recognition Logic', 'ProBERTa', 'ProGen2-xlarge',
       'ProgressiveGAN', 'Projected GAN', 'ProtBERT-BFD', 'ProtT5-XXL',
       'ProtT5-XXL-BFD', 'ProteinBERT', 'ProteinDT',
       'Prototypical networks', 'ProxylessNAS', 'PyramidNet',
       'Q-learning', 'QRNN', 'QT-Opt', 'Qwen-72B', 'Qwen-Audio-Chat',
       'Qwen-VL', 'Qwen-VL-Max', 'Qwen1.5-72B', 'Qwen2-72B',
       'Qwen2.5-72B', 'R-CNN (T-net)', 'R-FCN', 'RAAM',
       'RBM Image Classifier', 'RCAN', 'RCTM', 'RETRO-7B', 'RNN LM',
       'RNN for 1B words', 'RNN+LDA+KN5+cache',
       'RNN+weight noise+dynamic eval', 'RNN-SpeedUp', 'RNN-WER',
       'RNNsearch-50*', 'RNTN', 'RT-1', 'RT-2', 'RT-2-X', 'RT-Trajectory',
       'Random Decision Forests', 'RankNet', 'Rational DQN Average',
       'ReALM', 'ReLU (LFW)', 'ReLU (NORB)', 'ReLU-Speech',
       'Reading Twice for NLU', 'Recursive Neural Network',
       'Recursive sentiment autoencoder', 'RefineNet',
       'Refined Part Pooling',
       'Regularized SVD for Collaborative Filtering', 'Reka Core',
       'Relational Memory Core', 'ResNeXt-101 32x48d',
       'ResNeXt-101 Billion-scale', 'ResNeXt-50', 'ResNet-1001',
       'ResNet-110 (CIFAR-10)', 'ResNet-152 (ImageNet)',
       'ResNet-152 + ObjectNet', 'ResNet-200', 'ResNet-50 Billion-scale',
       'Residual Dense Network', 'Restricted Bolzmann machines',
       'RetinaNet-R101', 'RetinaNet-R50', 'Retrieval-Augmented Generator',
       'RoBERTa Large', 'RoboCat', 'Robot Parkour', 'Rotation',
       'Routing Transformer (WT-103)', 'S-Norm', 'S4', 'SACHS', 'SB-LM',
       'SC-NLM', 'SEER', 'SENet (ImageNet)', 'SNARC', 'SNM-skip',
       'SPHINX (Llama 2 13B)', 'SPIDER2', 'SPN-4+KN5', 'SPPNet', 'SRGAN',
       'SRN-Encoded Grammatical Structures', 'SRU++ Large', 'SSD',
       'ST-MoE', 'SVD in recommender systems', 'SVM for face detection',
       'Samuel Neural Checkers', 'Sandwich Transformer', 'SciBERT',
       'SeamlessM4T', 'Search-Proven Best LSTM',
       'Segatron-XL large, M=384 + HCP', 'Segment Anything Model',
       'Selective Search', 'Self Organizing System', 'SemExp', 'SemVec',
       'Semantic Hashing', 'Semi-Supervised Embedding for DL',
       'Seq2Seq LSTM', 'Sequence-based pattern recognition',
       'SexNet classification', 'SexNet compression', 'Show-1',
       'ShuffleNet v1', 'ShuffleNet v2', 'Siamese-TDNN', 'SimCLR',
       'SimCLRv2', 'SimCSE', 'SimpleNet', 'Skywork-13B', 'SmooCT',
       'Social and content-based classification', 'Sora', 'Sora Turbo',
       'Sparse Energy-Based Model', 'Sparse Vision Encoding',
       'Sparse all-MLP', 'Sparse coding model for V1 receptive fields',
       'Sparse digit recognition SVM', 'Spatial Pyramid Matching',
       'Spatially-Sparse CNN', 'Spatiotemporal fusion ConvNet',
       'Speaker-independent vowel classification', 'SpecAugment',
       'Spectrally Normalized GAN', 'SqueezeNet',
       'Stable Diffusion (LDM-KL-8-G)', 'Stable Diffusion XL (SDXL)',
       'Stacked Denoising Autoencoders', 'Stacked hourglass network',
       'Stanley (DARPA Grand Challenge 2)', 'StarCoder', 'StarGAN v2',
       'Statement Curriculum Learning',
       'Statistical Shape Constellations',
       'Statistical continuous speech recognizer', 'Student of Games',
       'Suno v4', 'Super-vector coding', 'Support Vector Machines',
       'Swift', 'Swin Transformer V2 (SwinV2-G)', 'Switch',
       'Symmetric Residual Encoder-Decoder Net', 'System 11', 'T0-XXL',
       'T5-11B', 'T5-3B', 'TCAN (WT2)', 'TCN (P-MNIST)', 'TD(0)',
       'TD-Gammon', 'TFE SVM', 'TRPO', 'TSN', 'TaLK Convolution',
       'Table Tennis Agent', 'Tacotron 2', 'Tagging via Viterbi Decoding',
       'Tensor-Transformer(1core)+PN (WT103)', 'TensorReasoner',
       'Tensorized Transformer (257M)', 'Textual Imager', 'Theseus',
       'Theseus 6/768', 'Thumbs Up?', 'Time-delay neural networks',
       'TrOCR', 'Trajectory-pooled conv nets', 'TranceptEve',
       'Tranception', 'TransE', 'Transformer (2017)',
       'Transformer (Adaptive Input Embeddings) WT103',
       'Transformer + Simple Recurrent Unit',
       'Transformer - LibriVox + Decoding/Rescoring', 'Transformer ELMo',
       'Transformer local-attention (NesT-B)', 'Transformer-XL (257M)',
       'Transformer-XL + RMS dynamic eval',
       'Transformer-XL DeFINE (141M)',
       'Transformer-XL Large + Phrase Induction',
       'TransformerXL + spectrum control', 'TrellisNet', 'TriNet',
       'Truck backer-upper', 'True-Regularization+Finetune+Dynamic-Eval',
       'Turing-NLG', 'Two-stream ConvNets for action recognition',
       'U-PaLM (540B)', 'UDSMProt', 'UL2', 'ULM-FiT', 'UnifiedQA',
       'Unsupervised High-level Feature Learner',
       'Unsupervised Scale-Invariant Learning', 'VALL-E',
       'VD-LSTM+REAL Large', 'VD-RHN', 'VGG16', 'VGG19', 'VQGAN + CLIP',
       'Variational (untied weights, MC) LSTM (Large)',
       'Vector Space Model', 'Veo 2', 'ViT + DINO', 'ViT-22B',
       'ViT-Base/32', 'ViT-G (model soup)', 'ViT-G/14', 'ViT-G/14 (LiT)',
       'ViT-Huge/14', 'VideoMAE V2', 'Visualizing CNNs', 'Volcano 13B',
       'W2v-BERT', 'WGAN-GP', 'Walking Minotaur robot', 'WaveNet',
       'WeNet (Penn Treebank)', 'Weight Decay', 'Whisper', 'Wide & Deep',
       'Wide Residual Network', 'Word Representations',
       'Word2Vec (large)', 'Word2Vec (small)', 'XGLM-7.5B', 'XLM',
       'XLM-RoBERTa', 'XLMR-XXL', 'XLNet', 'Xception', 'YOLO', 'YOLOX-X',
       'YOLOv2', 'YOLOv3', 'Yi-34B',
       'YouTube Video Recommendation System',
       'Youtube recommendation model', 'Yuan 1.0', 'Zidong Taichu',
       'Zoneout + Variational LSTM (WT2)',
       'aLSTM(depth-2)+RecurrentPolicy (WT2)', 'base LM+GNN+kNN',
       'data2vec (language)', 'data2vec (speech)', 'data2vec (vision)',
       'eDiff-I', 'fastText', 'genCNN + dyn eval', 'iGPT-L', 'iGPT-XL',
       'mPLUG-Owl2', 'mT0-13B', 'mT5-XXL', 'o1', 'o1-preview',
       'top-down frozen classifier', 'wave2vec 2.0 LARGE',
       'xTrimoPGLM -100B', 'λ-WASP'], dtype=object)

---

In [319]:
health_df

           entities  years  public_health_expenditure_share_gdp
0         Argentina   1880                                0.000
1         Argentina   1890                                0.000
2         Argentina   1900                                0.000
3         Argentina   1910                                0.000
4         Argentina   1920                                0.000
...             ...    ...                                  ...
2249  United States   2019                               13.694
2250  United States   2020                               15.694
2251  United States   2021                               14.431
2252  United States   2022                               13.786
2253  United States   2023                               13.898

[2254 rows x 3 columns]

In [320]:
# Auch hier sind die Entities verschieden bezüglich der Anzahl Länder + Jahren (ggf. gemeinsame Entities finden über alle Datensätze)
health_df['entities'].unique(), health_df['years'].unique()

(array(['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil',
        'Bulgaria', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica',
        'Croatia', 'Cyprus', 'Czechia', 'Denmark', 'Estonia', 'Finland',
        'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'India',
        'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Latvia',
        'Lithuania', 'Luxembourg', 'Malta', 'Mexico', 'Netherlands',
        'New Zealand', 'Norway', 'Peru', 'Poland', 'Portugal', 'Romania',
        'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Spain',
        'Sweden', 'Switzerland', 'Turkey', 'Ukraine', 'United Kingdom',
        'United States'], dtype=object),
 array([1880, 1890, 1900, 1910, 1920, 1930, 2000, 2001, 2002, 2003, 2004,
        2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
        2016, 2017, 2018, 2019, 2020, 2021, 1960, 1961, 1962, 1963, 1964,
        1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975,
        1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
        1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
        1998, 1999, 2022, 2023]))

---

In [321]:
# Bis jetzt der grösste Datensatz. WICHTIG: median_age__sex_all__age_all__variant_estimates sind Historische Daten und median_age__sex_all__age_all__variant_medium sind Prognosen
median_age_df

,entities,years,median_age__sex_all__age_all__variant_estimates,median_age__sex_all__age_all__variant_medium
0,Afghanistan,1950,18.395,NaN
1,Afghanistan,1951,18.370,NaN
2,Afghanistan,1952,18.333,NaN
3,Afghanistan,1953,18.289,NaN
4,Afghanistan,1954,18.239,NaN
...,...,...,...,...
38198,Zimbabwe,2096,NaN,34.802
38199,Zimbabwe,2097,NaN,35.022
38200,Zimbabwe,2098,NaN,35.241
38201,Zimbabwe,2099,NaN,35.463
38202,Zimbabwe,2100,NaN,35.684

In [322]:
# Wieder massiv mehr Entities
median_age_df['entities'].unique(), median_age_df['years'].unique()

(array(['Afghanistan', 'Africa (UN)', 'Albania', 'Algeria',
        'American Samoa', 'Andorra', 'Angola', 'Anguilla',
        'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
        'Asia (UN)', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
        'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
        'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
        'Bonaire Sint Eustatius and Saba', 'Bosnia and Herzegovina',
        'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei',
        'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
        'Canada', 'Cape Verde', 'Cayman Islands',
        'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
        'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
        'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia',
        'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
        'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
        'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
        'Eswatini', 'Ethiopia', 'Europe (UN)', 'Falkland Islands',
        'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
        'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
        'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
        'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
        'Guinea-Bissau', 'Guyana', 'Haiti', 'High-income countries',
        'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
        'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
        'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan',
        'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
        'Latin America and the Caribbean (UN)', 'Latvia',
        'Least developed countries', 'Lebanon', 'Lesotho',
        'Less developed regions',
        'Less developed regions, excluding China',
        'Less developed regions, excluding least developed countries',
        'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
        'Low-income countries', 'Lower-middle-income countries',
        'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia',
        'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
        'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
        'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
        'Montenegro', 'Montserrat', 'More developed regions', 'Morocco',
        'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
        'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
        'Niger', 'Nigeria', 'Niue', 'North Korea', 'North Macedonia',
        'Northern America (UN)', 'Northern Mariana Islands', 'Norway',
        'Oceania (UN)', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
        'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
        'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia',
        'Rwanda', 'Saint Barthelemy', 'Saint Helena',
        'Saint Kitts and Nevis', 'Saint Lucia',
        'Saint Martin (French part)', 'Saint Pierre and Miquelon',
        'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
        'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
        'Seychelles', 'Sierra Leone', 'Singapore',
        'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
        'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
        'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
        'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
        'Thailand', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago',
        'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
        'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
        'United Kingdom', 'United States', 'United States Virgin Islands',
        'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
        'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
        'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
       dtype=object),
 array([1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
        1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
        1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
        1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
        1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
        2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
        2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026,
        2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037,
        2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048,
        2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059,
        2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070,
        2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081,
        2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092,
        2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100]))

---

In [323]:
dependency_df

,entities,years,dependency_ratio__sex_all__age_old__variant_estimates,dependency_ratio__sex_all__age_youth__variant_estimates
0,Afghanistan,1950,5.078875,73.154760
1,Afghanistan,1951,5.100585,73.256740
2,Afghanistan,1952,5.114400,73.390884
3,Afghanistan,1953,5.122446,73.564835
4,Afghanistan,1954,5.126268,73.813896
...,...,...,...,...
18939,Zimbabwe,2019,6.552438,78.893740
18940,Zimbabwe,2020,6.602380,77.780350
18941,Zimbabwe,2021,6.596693,76.786766
18942,Zimbabwe,2022,6.585346,75.960910
18943,Zimbabwe,2023,6.570403,75.053520

In [324]:
# Wieder massiv mehr Entities
dependency_df['entities'].unique(), dependency_df['years'].unique()

(array(['Afghanistan', 'Africa (UN)', 'Albania', 'Algeria',
        'American Samoa', 'Americas (UN)', 'Andorra', 'Angola', 'Anguilla',
        'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
        'Asia (UN)', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
        'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
        'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
        'Bonaire Sint Eustatius and Saba', 'Bosnia and Herzegovina',
        'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei',
        'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
        'Canada', 'Cape Verde', 'Cayman Islands',
        'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
        'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
        'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia',
        'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
        'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
        'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
        'Eswatini', 'Ethiopia', 'Europe (UN)', 'Falkland Islands',
        'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
        'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
        'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
        'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
        'Guinea-Bissau', 'Guyana', 'Haiti', 'High-income countries',
        'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
        'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
        'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan',
        'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
        'Land-locked developing countries (LLDC)', 'Laos',
        'Latin America and the Caribbean (UN)', 'Latvia',
        'Least developed countries', 'Lebanon', 'Lesotho',
        'Less developed regions',
        'Less developed regions, excluding China',
        'Less developed regions, excluding least developed countries',
        'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
        'Low-income countries', 'Lower-middle-income countries',
        'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia',
        'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
        'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
        'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
        'Montenegro', 'Montserrat', 'More developed regions', 'Morocco',
        'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
        'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
        'Niger', 'Nigeria', 'Niue', 'North Korea', 'North Macedonia',
        'Northern America (UN)', 'Northern Mariana Islands', 'Norway',
        'Oceania (UN)', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
        'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
        'Portugal', 'Puerto Rico', 'Qatar', 'Reunion', 'Romania', 'Russia',
        'Rwanda', 'Saint Barthelemy', 'Saint Helena',
        'Saint Kitts and Nevis', 'Saint Lucia',
        'Saint Martin (French part)', 'Saint Pierre and Miquelon',
        'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
        'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
        'Seychelles', 'Sierra Leone', 'Singapore',
        'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
        'Small island developing states (SIDS)', 'Solomon Islands',
        'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain',
        'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria',
        'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tokelau',
        'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
        'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
        'Ukraine', 'United Arab Emirates', 'United Kingdom',
        'United States', 'United States Virgin Islands',
        'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
        'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
        'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
       dtype=object),
 array([1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
        1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
        1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
        1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
        1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
        2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
        2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]))

## Konstante Schnittmenge eruiren

In [326]:
def find_constant_entities(start_year=2013, end_year=2020):
    # Sammle für jedes Jahr die Entities, die in allen DataFrames vorhanden sind
    entities_by_year = {}
    
    for year in range(start_year, end_year + 1):
        # Hole Entities für jedes DataFrame im aktuellen Jahr
        year_entities = {
            'ai_patents': set(ai_patents_df[ai_patents_df['years'] == year]['entities']),
            'rd_gdp': set(rd_gdp_df[rd_gdp_df['years'] == year]['entities']),
            'health': set(health_df[health_df['years'] == year]['entities']),
            'median_age': set(median_age_df[median_age_df['years'] == year]['entities']),
            'dependency': set(dependency_df[dependency_df['years'] == year]['entities'])
        }
        
        # Finde die Schnittmenge für dieses Jahr (nur wenn alle DataFrames Daten haben)
        if all(len(entities) > 0 for entities in year_entities.values()):
            entities_by_year[year] = set.intersection(*year_entities.values())
    
    # Finde die Entities, die in ALLEN Jahren vorhanden sind
    if not entities_by_year:
        return set()
    
    constant_entities = set.intersection(*entities_by_year.values())
    
    return constant_entities

# Finde die konstanten Entities
constant_entities = find_constant_entities()

print(f"Anzahl konstanter Entities über den Zeitraum 2013-2020: {len(constant_entities)}")
print("\nKonstante Entities:")
print(sorted(constant_entities))

# Optional: Zeige für jedes Jahr die Anzahl der Entities in jedem DataFrame
print("\nÜberblick pro Jahr:")
for year in range(2013, 2021):
    year_entities = {
        'ai_patents': set(ai_patents_df[ai_patents_df['years'] == year]['entities']),
        'rd_gdp': set(rd_gdp_df[rd_gdp_df['years'] == year]['entities']),
        'health': set(health_df[health_df['years'] == year]['entities']),
        'median_age': set(median_age_df[median_age_df['years'] == year]['entities']),
        'dependency': set(dependency_df[dependency_df['years'] == year]['entities'])
    }
    
    # Finde die Schnittmenge für dieses Jahr
    if all(len(entities) > 0 for entities in year_entities.values()):
        year_intersection = set.intersection(*year_entities.values())
        print(f"{year}: {len(year_intersection)} Entities (AI:{len(year_entities['ai_patents'])}, "
              f"RD:{len(year_entities['rd_gdp'])}, Health:{len(year_entities['health'])}, "
              f"Age:{len(year_entities['median_age'])}, Dep:{len(year_entities['dependency'])})")

Anzahl konstanter Entities über den Zeitraum 2013-2020: 20

Konstante Entities:
['Austria', 'Canada', 'China', 'Denmark', 'Finland', 'France', 'Germany', 'Hungary', 'India', 'Israel', 'Italy', 'Japan', 'Mexico', 'Netherlands', 'Poland', 'South Korea', 'Spain', 'Sweden', 'United Kingdom', 'United States']

Überblick pro Jahr:
2013: 29 Entities (AI:36, RD:106, Health:50, Age:253, Dep:256)
2014: 27 Entities (AI:38, RD:101, Health:50, Age:253, Dep:256)
2015: 36 Entities (AI:44, RD:113, Health:50, Age:253, Dep:256)
2016: 35 Entities (AI:48, RD:101, Health:51, Age:253, Dep:256)
2017: 36 Entities (AI:46, RD:105, Health:51, Age:253, Dep:256)
2018: 39 Entities (AI:52, RD:102, Health:51, Age:253, Dep:256)
2019: 39 Entities (AI:45, RD:104, Health:51, Age:253, Dep:256)
2020: 32 Entities (AI:43, RD:96, Health:50, Age:253, Dep:256)

In [327]:
def find_best_year_entities(start_year=2013, end_year=2020):
    # Dictionary für die Schnittmengen pro Jahr
    intersections_by_year = {}
    
    for year in range(start_year, end_year + 1):
        # Hole Entities für jedes DataFrame im aktuellen Jahr
        year_entities = {
            'ai_patents': set(ai_patents_df[ai_patents_df['years'] == year]['entities']),
            'rd_gdp': set(rd_gdp_df[rd_gdp_df['years'] == year]['entities']),
            'health': set(health_df[health_df['years'] == year]['entities']),
            'median_age': set(median_age_df[median_age_df['years'] == year]['entities']),
            'dependency': set(dependency_df[dependency_df['years'] == year]['entities'])
        }
        
        # Finde die Schnittmenge für dieses Jahr
        if all(len(entities) > 0 for entities in year_entities.values()):
            year_intersection = set.intersection(*year_entities.values())
            intersections_by_year[year] = year_intersection

    # Finde das Jahr mit der größten Schnittmenge
    best_year = max(intersections_by_year.items(), key=lambda x: len(x[1]))
    
    return best_year[0], best_year[1]

# Finde das beste Jahr und dessen Entities
best_year, best_entities = find_best_year_entities()

print(f"Jahr mit der größten Schnittmenge: {best_year}")
print(f"Anzahl Entities in diesem Jahr: {len(best_entities)}")
print("\nDiese Entities sind:")
print(sorted(best_entities))

# Überprüfe die Verfügbarkeit dieser Entities in anderen Jahren
print("\nVerfügbarkeit dieser Entities in anderen Jahren:")
for year in range(2013, 2021):
    year_entities = {
        'ai_patents': set(ai_patents_df[ai_patents_df['years'] == year]['entities']),
        'rd_gdp': set(rd_gdp_df[rd_gdp_df['years'] == year]['entities']),
        'health': set(health_df[health_df['years'] == year]['entities']),
        'median_age': set(median_age_df[median_age_df['years'] == year]['entities']),
        'dependency': set(dependency_df[dependency_df['years'] == year]['entities'])
    }
    
    # Prüfe, wie viele der best_entities in diesem Jahr verfügbar sind
    available_entities = best_entities.intersection(*year_entities.values())
    print(f"{year}: {len(available_entities)} von {len(best_entities)} Entities verfügbar")

Jahr mit der größten Schnittmenge: 2018
Anzahl Entities in diesem Jahr: 39

Diese Entities sind:
['Argentina', 'Austria', 'Belgium', 'Brazil', 'Bulgaria', 'Canada', 'Chile', 'China', 'Croatia', 'Czechia', 'Denmark', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'India', 'Ireland', 'Israel', 'Italy', 'Japan', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'Norway', 'Peru', 'Poland', 'Portugal', 'Romania', 'Slovenia', 'South Africa', 'South Korea', 'Spain', 'Sweden', 'Turkey', 'Ukraine', 'United Kingdom', 'United States']

Verfügbarkeit dieser Entities in anderen Jahren:
2013: 27 von 39 Entities verfügbar
2014: 27 von 39 Entities verfügbar
2015: 32 von 39 Entities verfügbar
2016: 34 von 39 Entities verfügbar
2017: 34 von 39 Entities verfügbar
2018: 39 von 39 Entities verfügbar
2019: 35 von 39 Entities verfügbar
2020: 31 von 39 Entities verfügbar

In [329]:
# Filtere jeden DataFrame für best_entities und Jahre 2013-2020
ai_patents_filtered = ai_patents_df[
    (ai_patents_df['entities'].isin(best_entities)) & 
    (ai_patents_df['years'].between(2013, 2020))
]

rd_gdp_filtered = rd_gdp_df[
    (rd_gdp_df['entities'].isin(best_entities)) & 
    (rd_gdp_df['years'].between(2013, 2020))
]

health_filtered = health_df[
    (health_df['entities'].isin(best_entities)) & 
    (health_df['years'].between(2013, 2020))
]

median_age_filtered = median_age_df[
    (median_age_df['entities'].isin(best_entities)) & 
    (median_age_df['years'].between(2013, 2020))
]

dependency_filtered = dependency_df[
    (dependency_df['entities'].isin(best_entities)) & 
    (dependency_df['years'].between(2013, 2020))
]

# Überprüfe die Ergebnisse
for name, df in [
    ('ai_patents', ai_patents_filtered),
    ('rd_gdp', rd_gdp_filtered),
    ('health', health_filtered),
    ('median_age', median_age_filtered),
    ('dependency', dependency_filtered)
]:
    print(f"\n{name}_filtered:")
    print(f"Anzahl Zeilen: {len(df)}")
    print(f"Unique entities: {df['entities'].nunique()}")
    print(f"Unique years: {sorted(df['years'].unique())}")
    
    # Überprüfe auf fehlende Kombinationen
    expected_combinations = len(best_entities) * 8  # 8 Jahre (2013-2020)
    if len(df) != expected_combinations:
        print(f"Warnung: Erwartete {expected_combinations} Zeilen, aber hat {len(df)} Zeilen")

ai_patents_filtered:
Anzahl Zeilen: 260
Unique entities: 39
Unique years: [np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020)]
Warnung: Erwartete 312 Zeilen, aber hat 260 Zeilen

rd_gdp_filtered:
Anzahl Zeilen: 312
Unique entities: 39
Unique years: [np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020)]

health_filtered:
Anzahl Zeilen: 311
Unique entities: 39
Unique years: [np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020)]
Warnung: Erwartete 312 Zeilen, aber hat 311 Zeilen

median_age_filtered:
Anzahl Zeilen: 312
Unique entities: 39
Unique years: [np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020)]

dependency_filtered:
Anzahl Zeilen: 312
Unique entities: 39
Unique years: [np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020)]

In [339]:
# Erstelle alle möglichen Entity-Jahr-Kombinationen
years = list(range(2013, 2021))
all_combinations = [(entity, year) for entity in best_entities for year in years]

# Funktion zum Auffüllen fehlender Kombinationen mit den richtigen Spalten
def fill_missing_combinations(df, all_combinations, df_name):
    # Aktuelle Kombinationen im DataFrame
    current_combinations = set(zip(df['entities'], df['years']))
    # Konvertiere all_combinations zu Set für Vergleich
    all_combinations_set = set(all_combinations)
    # Finde fehlende Kombinationen
    missing = all_combinations_set - current_combinations
    
    if missing:
        print(f"\n{df_name}:")
        print(f"Fehlende Kombinationen: {len(missing)}")
        
        # Erstelle neue Zeilen für fehlende Kombinationen
        new_rows = []
        for entity, year in missing:
            new_row = {
                'entities': entity,
                'years': year
            }
            
            # Füge die spezifischen Spalten für jeden DataFrame mit 0.0 hinzu
            value_columns = [col for col in df.columns if col not in ['entities', 'years']]
            for col in value_columns:
                new_row[col] = 0.0
                
            new_rows.append(new_row)
            print(f"Füge hinzu: Entity: {entity}, Year: {year}, Spalten: {value_columns}")
        
        # Füge die neuen Zeilen zum DataFrame hinzu
        df_filled = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
        return df_filled
    
    return df

# Fülle die fehlenden Kombinationen für jeden DataFrame
ai_patents_filled = fill_missing_combinations(
    ai_patents_filtered, 
    all_combinations, 
    "ai_patents_filtered (Spalte: num_patent_granted__field_life_sciences)"
)

rd_gdp_filled = fill_missing_combinations(
    rd_gdp_filtered, 
    all_combinations, 
    "rd_gdp_filtered (Spalte: research_spending_gdp)"
)

health_filled = fill_missing_combinations(
    health_filtered, 
    all_combinations, 
    "health_filtered (Spalte: public_health_expenditure_share_gdp)"
)

median_age_filled = fill_missing_combinations(
    median_age_filtered, 
    all_combinations, 
    "median_age_filtered (Spalte: median_age__sex_all__age_all__variant_estimates)"
)

dependency_filled = fill_missing_combinations(
    dependency_filtered, 
    all_combinations, 
    "dependency_filtered (Spalten: dependency_ratio__sex_all__age_old__variant_estimates, dependency_ratio__sex_all__age_youth__variant_estimates)"
)

# Überprüfe die Ergebnisse nach dem Auffüllen
print("\nNach dem Auffüllen:")
for name, df in [
    ('ai_patents', ai_patents_filled),
    ('rd_gdp', rd_gdp_filled),
    ('health', health_filled),
    ('median_age', median_age_filled),
    ('dependency', dependency_filled)
]:
    print(f"\n{name}:")
    print(f"Anzahl Zeilen: {len(df)}")
    print(f"Unique entities: {df['entities'].nunique()}")
    print(f"Unique years: {sorted(df['years'].unique())}")
    print("Spalten:", df.columns.tolist())
    
    # Zeige ein Beispiel einer aufgefüllten Zeile
    filled_example = df[df.iloc[:, 2:].eq(0).any(axis=1)].head(1)
    if not filled_example.empty:
        print("\nBeispiel einer aufgefüllten Zeile:")
        print(filled_example)

ai_patents_filtered (Spalte: num_patent_granted__field_life_sciences):
Fehlende Kombinationen: 52
Füge hinzu: Entity: Ireland, Year: 2014, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Ireland, Year: 2017, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Czechia, Year: 2015, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Argentina, Year: 2015, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Slovenia, Year: 2019, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Ireland, Year: 2020, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Belgium, Year: 2014, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Luxembourg, Year: 2015, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Romania, Year: 2013, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Greece, Year: 2013, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Norway, Year: 2014, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Chile, Year: 2017, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Chile, Year: 2014, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Chile, Year: 2020, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Peru, Year: 2014, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Czechia, Year: 2014, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Ireland, Year: 2013, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Ireland, Year: 2019, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Peru, Year: 2017, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Croatia, Year: 2020, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: South Africa, Year: 2013, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Lithuania, Year: 2013, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Croatia, Year: 2017, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Argentina, Year: 2014, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Belgium, Year: 2013, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Croatia, Year: 2014, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: South Africa, Year: 2019, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Luxembourg, Year: 2014, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Portugal, Year: 2013, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Chile, Year: 2013, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Chile, Year: 2019, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Chile, Year: 2016, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Bulgaria, Year: 2014, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Peru, Year: 2013, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Turkey, Year: 2020, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Czechia, Year: 2016, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Croatia, Year: 2013, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Ireland, Year: 2015, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Slovenia, Year: 2014, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Croatia, Year: 2016, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Belgium, Year: 2015, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Slovenia, Year: 2017, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: South Africa, Year: 2015, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Argentina, Year: 2016, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Slovenia, Year: 2020, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Luxembourg, Year: 2013, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Ukraine, Year: 2020, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Romania, Year: 2014, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Romania, Year: 2020, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Norway, Year: 2015, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Bulgaria, Year: 2016, Spalten: ['num_patent_granted__field_life_sciences']
Füge hinzu: Entity: Bulgaria, Year: 2013, Spalten: ['num_patent_granted__field_life_sciences']

health_filtered (Spalte: public_health_expenditure_share_gdp):
Fehlende Kombinationen: 1
Füge hinzu: Entity: Brazil, Year: 2020, Spalten: ['public_health_expenditure_share_gdp']

Nach dem Auffüllen:

ai_patents:
Anzahl Zeilen: 312
Unique entities: 39
Unique years: [np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020)]
Spalten: ['entities', 'years', 'num_patent_granted__field_life_sciences']

Beispiel einer aufgefüllten Zeile:
    entities  years  num_patent_granted__field_life_sciences
0  Argentina   2013                                      0.0

rd_gdp:
Anzahl Zeilen: 312
Unique entities: 39
Unique years: [np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020)]
Spalten: ['entities', 'years', 'research_spending_gdp']

health:
Anzahl Zeilen: 312
Unique entities: 39
Unique years: [np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020)]
Spalten: ['entities', 'years', 'public_health_expenditure_share_gdp']

Beispiel einer aufgefüllten Zeile:
    entities  years  public_health_expenditure_share_gdp
311   Brazil   2020                                  0.0

median_age:
Anzahl Zeilen: 312
Unique entities: 39
Unique years: [np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020)]
Spalten: ['entities', 'years', 'median_age__sex_all__age_all__variant_estimates', 'median_age__sex_all__age_all__variant_medium']

dependency:
Anzahl Zeilen: 312
Unique entities: 39
Unique years: [np.int64(2013), np.int64(2014), np.int64(2015), np.int64(2016), np.int64(2017), np.int64(2018), np.int64(2019), np.int64(2020)]
Spalten: ['entities', 'years', 'dependency_ratio__sex_all__age_old__variant_estimates', 'dependency_ratio__sex_all__age_youth__variant_estimates']

## Zusammenführung & Validierung

In [344]:
ai_patents_filtered['entities'].unique() == ai_patents_filled['entities'].unique()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [351]:
set(best_entities) == set(ai_patents_filled['entities'].unique())

True

In [352]:
# Schrittweises Zusammenführen aller DataFrames
merged_df = ai_patents_filled.merge(
    rd_gdp_filled,
    on=['entities', 'years'],
    how='outer'
).merge(
    health_filled,
    on=['entities', 'years'],
    how='outer'
).merge(
    median_age_filled,
    on=['entities', 'years'],
    how='outer'
).merge(
    dependency_filled,
    on=['entities', 'years'],
    how='outer'
)

# Überprüfe das Ergebnis
print("Informationen zum zusammengeführten DataFrame:")
print(f"Anzahl Zeilen: {len(merged_df)}")
print(f"Anzahl Spalten: {len(merged_df.columns)}")
print("\nSpaltennamen:")
print(merged_df.columns.tolist())

# Zeige die ersten Zeilen
print("\nErste Zeilen des zusammengeführten DataFrames:")
merged_df.head()

Informationen zum zusammengeführten DataFrame:
Anzahl Zeilen: 312
Anzahl Spalten: 9

Spaltennamen:
['entities', 'years', 'num_patent_granted__field_life_sciences', 'research_spending_gdp', 'public_health_expenditure_share_gdp', 'median_age__sex_all__age_all__variant_estimates', 'median_age__sex_all__age_all__variant_medium', 'dependency_ratio__sex_all__age_old__variant_estimates', 'dependency_ratio__sex_all__age_youth__variant_estimates']

Erste Zeilen des zusammengeführten DataFrames:

,entities,years,num_patent_granted__field_life_sciences,research_spending_gdp,public_health_expenditure_share_gdp,median_age__sex_all__age_all__variant_estimates,median_age__sex_all__age_all__variant_medium,dependency_ratio__sex_all__age_old__variant_estimates,dependency_ratio__sex_all__age_youth__variant_estimates
0,Argentina,2013,0.0,0.61849,6.264,29.492,NaN,16.786158,39.246693
1,Argentina,2014,0.0,0.59396,6.361,29.677,NaN,16.980871,39.027992
2,Argentina,2015,0.0,0.62262,6.853,29.861,NaN,17.196878,38.837350
3,Argentina,2016,0.0,0.55815,5.619,30.051,NaN,17.409235,38.617672
4,Argentina,2017,0.0,0.55631,6.644,30.258,NaN,17.615713,38.336770

In [353]:
# Spalte löschen
merged_df = merged_df.drop('median_age__sex_all__age_all__variant_medium', axis=1)

In [354]:
# # Überprüfe auf fehlende Werte
print("\nAnzahl fehlender Werte pro Spalte:")
print(merged_df.isnull().sum())

Anzahl fehlender Werte pro Spalte:
entities                                                   0
years                                                      0
num_patent_granted__field_life_sciences                    0
research_spending_gdp                                      0
public_health_expenditure_share_gdp                        0
median_age__sex_all__age_all__variant_estimates            0
dependency_ratio__sex_all__age_old__variant_estimates      0
dependency_ratio__sex_all__age_youth__variant_estimates    0
dtype: int64

In [358]:
merged_df[merged_df['entities'] == 'United States']

,entities,years,num_patent_granted__field_life_sciences,research_spending_gdp,public_health_expenditure_share_gdp,median_age__sex_all__age_all__variant_estimates,dependency_ratio__sex_all__age_old__variant_estimates,dependency_ratio__sex_all__age_youth__variant_estimates
304,United States,2013,298.0,2.70215,7.886,36.175,20.454966,29.016796
305,United States,2014,325.0,2.71786,13.329,36.274,20.979565,28.951674
306,United States,2015,488.0,2.78700,13.598,36.387,21.491934,28.860523
307,United States,2016,693.0,2.85350,13.830,36.509,22.009900,28.751198
308,United States,2017,989.0,2.90432,13.796,36.650,22.566190,28.642460
309,United States,2018,1243.0,3.01010,13.694,36.818,23.169268,28.498007
310,United States,2019,1138.0,3.17049,13.694,37.002,23.821184,28.315298
311,United States,2020,714.0,3.46777,15.694,37.226,24.496876,28.065603

In [359]:
merged_df[merged_df['entities'] == 'Croatia']

,entities,years,num_patent_granted__field_life_sciences,research_spending_gdp,public_health_expenditure_share_gdp,median_age__sex_all__age_all__variant_estimates,dependency_ratio__sex_all__age_old__variant_estimates,dependency_ratio__sex_all__age_youth__variant_estimates
64,Croatia,2013,0.0,0.79817,5.441,41.727,27.684350,22.198648
65,Croatia,2014,0.0,0.77259,5.470,41.972,28.282400,22.110374
66,Croatia,2015,1.0,0.82816,5.516,42.307,29.061613,22.106478
67,Croatia,2016,0.0,0.84995,5.537,42.709,29.881420,22.167770
68,Croatia,2017,0.0,0.84727,5.483,43.169,30.829208,22.315840
69,Croatia,2018,0.0,0.95125,5.522,43.610,31.904163,22.491531
70,Croatia,2019,0.0,1.07963,5.559,43.952,32.941430,22.611000
71,Croatia,2020,0.0,1.24261,6.492,44.228,33.901455,22.622560

In [357]:
# Zähle die Häufigkeit jeder Entity
entity_counts = merged_df['entities'].value_counts()

# Zeige die Ergebnisse
print("Anzahl Einträge pro Land:")
print(entity_counts)

Anzahl Einträge pro Land:
entities
Argentina         8
Romania           8
Luxembourg        8
Mexico            8
Netherlands       8
Norway            8
Peru              8
Poland            8
Portugal          8
Slovenia          8
Japan             8
South Africa      8
South Korea       8
Spain             8
Sweden            8
Turkey            8
Ukraine           8
United Kingdom    8
Lithuania         8
Italy             8
Austria           8
Czechia           8
Belgium           8
Brazil            8
Bulgaria          8
Canada            8
Chile             8
China             8
Croatia           8
Denmark           8
Israel            8
Finland           8
France            8
Germany           8
Greece            8
Hungary           8
India             8
Ireland           8
United States     8
Name: count, dtype: int64

# Desktiptive Analyse

In [361]:
merged_df.to_csv('merged_df.csv', index=False)

In [335]:
# import matplotlib.pyplot as plt
# import seaborn as sns

# # Liste der numerischen Variablen (anpassen an deine Spaltennamen)
# variablen = [
#     'num_patent_granted__field_life_sciences', 
#     'research_spending_gdp', 
#     'public_health_expenditure_share_gdp', 
#     'median_age__sex_all__age_all__variant_estimates', 
#     'dependency_ratio__sex_all__age_old__variant_estimates', 
#     'dependency_ratio__sex_all__age_youth__variant_estimates'
# ]

# # Histogramme erstellen
# for var in variablen:
#     plt.figure(figsize=(6,4))
#     sns.histplot(merged_df[var], kde=True)
#     plt.title(f'Histogramm von {var}')
#     plt.xlabel(var)
#     plt.ylabel('Häufigkeit')
#     plt.show()

# # Boxplots erstellen (um Ausreißer sichtbar zu machen)
# for var in variablen:
#     plt.figure(figsize=(6,2))
#     sns.boxplot(x=merged_df[var])
#     plt.title(f'Boxplot von {var}')
#     plt.xlabel(var)
#     plt.show()

# Multiple lineare Regression

## Unabhängige Variablen
**KI-Fortschritt in der Medizin**
- https://ourworldindata.org/grapher/artificial-intelligence-granted-patents-by-industry
- https://ourworldindata.org/grapher/research-spending-gdp