# Semesterarbeit Statistik
Gem. Statistik Dozent: ``4 statistische Verfahren / Konzepte`` ein einem oder n-Datensätze anwenden inkl. vollständiger ``deskriptiver Datenanalyse``

# Our World in Data (OWID)
https://docs.owid.io/projects/etl/api/#owid-catalog

## Inspiration und Durchsicht möglicher Quellen
* **Datapoints used to train:** https://ourworldindata.org/grapher/artificial-intelligence-number-training-datapoints
----
* **Annual patent applications (not detailed on technology):** https://ourworldindata.org/grapher/annual-patent-applications
* **Annual granted patents related to AI:** https://ourworldindata.org/grapher/artificial-intelligence-granted-patents-by-industry
* **Annual working hours:** https://ourworldindata.org/grapher/annual-working-hours-per-worker
* **Annual articles publ in scientific and tech journals:** https://ourworldindata.org/grapher/scientific-publications-per-million
* **Research and development spending as a share of GDP:** https://ourworldindata.org/grapher/research-spending-gdp
* **Research and development per million people vs. GPD per capita:** https://ourworldindata.org/grapher/researchers-in-rd-per-million-people-vs-gdp-pc
----
* **Population:** https://ourworldindata.org/grapher/population
* **Population with UN projections 2100:** https://ourworldindata.org/grapher/population-with-un-projections
* **Median age:** https://ourworldindata.org/grapher/median-age
* **Female Popl by Age** https://ourworldindata.org/grapher/female-population-by-age-group
* **Male Popl by Age** https://ourworldindata.org/grapher/male-population-by-age-group
* **Popl young, working, elderly** https://ourworldindata.org/grapher/population-young-working-elderly-with-projections
----
* **Fertility rate:** https://ourworldindata.org/grapher/children-per-woman-un
* **Population by age group:** https://ourworldindata.org/grapher/population-by-age-group-with-projections
* **Age dependency breakdown by young and old:** https://ourworldindata.org/grapher/age-dependency-breakdown
----
* **Public health expenditure as a share of GDP:** https://ourworldindata.org/grapher/public-health-expenditure-share-gdp

# Datensatzbildung

**Technonoligsche Indikatoren**
   - https://ourworldindata.org/grapher/artificial-intelligence-granted-patents-by-industry
   - https://ourworldindata.org/grapher/research-spending-gdp
   - https://ourworldindata.org/grapher/artificial-intelligence-number-training-datapoints

**Gesundheitsausgaben**
   - https://ourworldindata.org/grapher/public-health-expenditure-share-gdp

**Demografische Daten**
   - https://ourworldindata.org/grapher/median-age
   - https://ourworldindata.org/grapher/age-dependency-breakdown
   ---

In [9]:
from owid.catalog import charts

# Technologische Indikatoren
ai_patents_df = charts.get_data('artificial-intelligence-granted-patents-by-industry')
rd_gdp_df = charts.get_data('research-spending-gdp')
ai_training_df = charts.get_data('artificial-intelligence-number-training-datapoints')

# Gesundheitsausgaben
health_df = charts.get_data('public-health-expenditure-share-gdp')

# Demografische Daten
median_age_df = charts.get_data('median-age')
dependency_df = charts.get_data('age-dependency-breakdown')

In [3]:
# kurzer Einblick in die Datensätze
ai_patents_df.head()

,entities,years,num_patent_granted__field_banking_and_finance,num_patent_granted__field_industry_and_manufacturing,num_patent_granted__field_energy_management,num_patent_granted__field_physical_sciences_and_engineering,num_patent_granted__field_security,num_patent_granted__field_life_sciences,num_patent_granted__field_transportation,num_patent_granted__field_business,num_patent_granted__field_telecommunications,num_patent_granted__field_personal_devices_and_computing
0,Argentina,2013,0,0,0,0,0,0,0,0,0,0
1,Argentina,2017,0,0,1,1,0,0,0,1,0,0
2,Argentina,2018,0,1,0,3,0,1,0,3,0,4
3,Argentina,2019,0,0,0,2,0,1,0,0,1,0
4,Argentina,2020,0,0,0,0,0,0,0,0,1,0

In [4]:
rd_gdp_df.head()

  entities  years  research_spending_gdp
0  Albania   2007                0.08757
1  Albania   2008                0.15412
2  Algeria   2001                0.23028
3  Algeria   2002                0.36640
4  Algeria   2003                0.19623

In [5]:
ai_training_df.head()

,entities,dates,training_dataset_size__datapoints,domain
0,(ensemble): AWD-LSTM-DOC (fin) × 5 (WT2),2018-08-30,NaN,Language
1,2-layer-LSTM+Deep-Gradient-Compression,2017-12-05,NaN,Language
2,3D city reconstruction,2009-09-29,NaN,Other
3,4 layer QRNN (h=2500),2018-03-22,NaN,Language
4,6-Act Tether,2021-08-03,NaN,Other

In [6]:
health_df.head()

    entities  years  public_health_expenditure_share_gdp
0  Argentina   1880                                  0.0
1  Argentina   1890                                  0.0
2  Argentina   1900                                  0.0
3  Argentina   1910                                  0.0
4  Argentina   1920                                  0.0

In [10]:
median_age_df.head()

,entities,years,median_age__sex_all__age_all__variant_estimates,median_age__sex_all__age_all__variant_medium
0,Afghanistan,1950,18.395,NaN
1,Afghanistan,1951,18.370,NaN
2,Afghanistan,1952,18.333,NaN
3,Afghanistan,1953,18.289,NaN
4,Afghanistan,1954,18.239,NaN

In [8]:
dependency_df.head()

,entities,years,dependency_ratio__sex_all__age_old__variant_estimates,dependency_ratio__sex_all__age_youth__variant_estimates
0,Afghanistan,1950,5.078875,73.154760
1,Afghanistan,1951,5.100585,73.256740
2,Afghanistan,1952,5.114400,73.390884
3,Afghanistan,1953,5.122446,73.564835
4,Afghanistan,1954,5.126268,73.813896

# Multiple lineare Regression

## Unabhängige Variablen
**KI-Fortschritt in der Medizin**
- https://ourworldindata.org/grapher/artificial-intelligence-granted-patents-by-industry
- https://ourworldindata.org/grapher/research-spending-gdp

In [19]:
from owid.catalog import charts

In [24]:
ai_patents_df = ai_patents_df[['entities', 'years', 'num_patent_granted__field_life_sciences']]
ai_patents_df.head()

    entities  years  num_patent_granted__field_life_sciences
0  Argentina   2013                                        0
1  Argentina   2017                                        0
2  Argentina   2018                                        1
3  Argentina   2019                                        1
4  Argentina   2020                                        0

In [23]:
rd_gdp_df.head()

  entities  years  research_spending_gdp
0  Albania   2007                0.08757
1  Albania   2008                0.15412
2  Algeria   2001                0.23028
3  Algeria   2002                0.36640
4  Algeria   2003                0.19623

#

# Playground

In [17]:
from owid.catalog import charts

df = charts.get_data('population')
df_2 = charts.get_data('annual-patent-applications')

In [12]:
from owid import catalog

health_df = catalog.find('healthcare')
health_df

                                                   table  ...             formats
2510   agencies_responsible_for_delivering_prison_hea...  ...  [feather, parquet]
8282   healthcare_staff_in_prisons__ftes_per_1000_pri...  ...  [feather, parquet]
8820   in_prison_patient_involvement_in_healthcare_pl...  ...  [feather, parquet]
14071   per_capita_expenditure_on_dental_healthcare__usd  ...  [feather, parquet]
16228  total_expenditure_on_dental_healthcare_in_mill...  ...  [feather, parquet]

[5 rows x 9 columns]

In [18]:
df_2

      entities  years  annual_patent_applications
0      Albania   2011                           3
1      Albania   2014                          10
2      Albania   2015                          14
3      Albania   2016                          20
4      Albania   2017                          16
...        ...    ...                         ...
4271  Zimbabwe   1993                          44
4272  Zimbabwe   1995                          55
4273  Zimbabwe   1996                          28
4274  Zimbabwe   2015                           9
4275  Zimbabwe   2016                           8

[4276 rows x 3 columns]