# Semesterarbeit Statistik
1. Teil der Semesterarbeit: Führen Sie eine vollständige Explorative (deskriptive) Datemanalyse Ihrer Daten durch.
https://moodle.ffhs.ch/mod/assign/view.php?id=4890572
2. Teil der Semesterarbeit: Durchführung von zwei der folgenden Methoden:
- Multiple lineare Regression
- Logistische Regression
- Analyse von Überlebenszeiten (survival analysis)

# Our World in Data (OWID)
https://docs.owid.io/projects/etl/api/#owid-catalog

## Datenquellen
* **Datapoints used to train:** https://ourworldindata.org/grapher/artificial-intelligence-number-training-datapoints
----
* **Annual patent applications (not detailed on technology):** https://ourworldindata.org/grapher/annual-patent-applications
* **Annual granted patents related to AI:** https://ourworldindata.org/grapher/artificial-intelligence-granted-patents-by-industry
* **Annual working hours:** https://ourworldindata.org/grapher/annual-working-hours-per-worker
* **Annual articles publ in scientific and tech journals:** https://ourworldindata.org/grapher/scientific-publications-per-million
* **Research and development spending as a share of GDP:** https://ourworldindata.org/grapher/research-spending-gdp
* **Research and development per million people vs. GPD per capita:** https://ourworldindata.org/grapher/researchers-in-rd-per-million-people-vs-gdp-pc
----
* **Population:** https://ourworldindata.org/grapher/population
* **Population with UN projections 2100:** https://ourworldindata.org/grapher/population-with-un-projections
* **Median age:** https://ourworldindata.org/grapher/median-age
* **Female Popl by Age** https://ourworldindata.org/grapher/female-population-by-age-group
* **Male Popl by Age** https://ourworldindata.org/grapher/male-population-by-age-group
* **Popl young, working, elderly** https://ourworldindata.org/grapher/population-young-working-elderly-with-projections
----
* **Fertility rate:** https://ourworldindata.org/grapher/children-per-woman-un
* **Population by age group:** https://ourworldindata.org/grapher/population-by-age-group-with-projections
* **Age dependency breakdown by young and old:** https://ourworldindata.org/grapher/age-dependency-breakdown
----
* **Public health expenditure as a share of GDP:** https://ourworldindata.org/grapher/public-health-expenditure-share-gdp

# Multiple lineare Regression

## Unabhängige Variablen
**KI-Fortschritt in der Medizin**
- https://ourworldindata.org/grapher/artificial-intelligence-granted-patents-by-industry
- https://ourworldindata.org/grapher/research-spending-gdp

In [19]:
from owid.catalog import charts

ai_patents_df = charts.get_data('artificial-intelligence-granted-patents-by-industry')
rd_gdp_df = charts.get_data('research-spending-gdp')

In [24]:
ai_patents_df = ai_patents_df[['entities', 'years', 'num_patent_granted__field_life_sciences']]
ai_patents_df.head()

    entities  years  num_patent_granted__field_life_sciences
0  Argentina   2013                                        0
1  Argentina   2017                                        0
2  Argentina   2018                                        1
3  Argentina   2019                                        1
4  Argentina   2020                                        0

In [23]:
rd_gdp_df.head()

  entities  years  research_spending_gdp
0  Albania   2007                0.08757
1  Albania   2008                0.15412
2  Algeria   2001                0.23028
3  Algeria   2002                0.36640
4  Algeria   2003                0.19623

# Playground

In [17]:
from owid.catalog import charts

df = charts.get_data('population')
df_2 = charts.get_data('annual-patent-applications')

In [12]:
from owid import catalog

health_df = catalog.find('healthcare')
health_df

                                                   table  ...             formats
2510   agencies_responsible_for_delivering_prison_hea...  ...  [feather, parquet]
8282   healthcare_staff_in_prisons__ftes_per_1000_pri...  ...  [feather, parquet]
8820   in_prison_patient_involvement_in_healthcare_pl...  ...  [feather, parquet]
14071   per_capita_expenditure_on_dental_healthcare__usd  ...  [feather, parquet]
16228  total_expenditure_on_dental_healthcare_in_mill...  ...  [feather, parquet]

[5 rows x 9 columns]

In [18]:
df_2

      entities  years  annual_patent_applications
0      Albania   2011                           3
1      Albania   2014                          10
2      Albania   2015                          14
3      Albania   2016                          20
4      Albania   2017                          16
...        ...    ...                         ...
4271  Zimbabwe   1993                          44
4272  Zimbabwe   1995                          55
4273  Zimbabwe   1996                          28
4274  Zimbabwe   2015                           9
4275  Zimbabwe   2016                           8

[4276 rows x 3 columns]